<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Clientes
    </p>
    <div class="card-header-icon">
      <button class="button is-success " (click)="crearCliente()">
        <span class="icon ">
          <i class="bx bx-plus"></i>
        </span>
        <span> Adicionar </span>
      </button>
    </div>
  </header>

  <div class="card-content">

    <div class="content">
        <table class="table">
          <thead>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Email</th>

            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes">
              <td>{{cliente.nombre}}</td>
              <td >{{cliente.telefono }}</td>
              <td>{{cliente.Email}}</td>
              <td>
                <a (click)="mostrarCliente(cliente.id)"><i class='bx bxs-pencil has-text-link pr-2' ></i></a>
                <a (click)="borrarCliente(cliente.id)" ><i class='bx bxs-trash-alt has-text-danger' ></i> </a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<div class="modal" [class.is-active]="dialog" >
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head ">
      <p class="modal-card-title">{{ title() }}</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
          <!-- <p class="modal-card-title "></p>
          <div class="is-flex is-justify-content-end">
            <button class="close " aria-label="close" "></button>
          </div> -->
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="columns ">
        <div class="column ">
          <div class="keyrus-content">
            <label for="" > Nombre:  </label>
            <input class="input" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="nombre" >
          </div>
          <div class="keyrus-content">
            <label for="">Telefono: </label>
            <input class="input" type="text" placeholder="Telefono" [(ngModel)]="telefono">
          </div>
          <div class="keyrus-content">
            <label for="">Email: </label>
            <input class="input" type="text" placeholder="Email" [(ngModel)]="email">
          </div>

        </div>
        <!-- picture -->
        <!-- <div class="column">

        </div> -->
      </div>
    </section>
    <footer class="modal-card-foot is-flex ">
      <button class="button is-success" (click)="guardarCliente()" >Guardar</button>
      <button class="button" (click)="closeModal()">Cancelar</button>
    </footer>
  </div>
</div>
