
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <h1>hola mundo</h1> -->
<!-- <nav class="navbar " role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">

    </a>
  </div>
</nav> -->
<div class="columns">
  <div class="column ">
    <div class="mr-3 mt-3 ml-3 is-flex  ">
      <h3 class="title is-5 has-text-grey-dark"> <i class='bx bxs-store pr-2 has-text-link'></i>TIENDA ESPECTRAL</h3>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-3">
    <!-- menu -->
    <aside class="card column has-background-white ml-3 mr-3 ">

      <ul class="menu-list">
        <li><a class="is-flex is-justify-content-flex-start " [routerLink]="['/']" > <i class='bx bxs-home pr-2 is-align-self-center'></i> Inicio</a></li>
        <li><a class="is-flex is-justify-content-flex-start " [routerLink]="['/productos']"> <i class='bx bxs-component pr-2 is-align-self-center'></i> Productos</a></li>
        <li><a class="is-flex is-justify-content-flex-start " [routerLink]="['/clientes']"> <i class='bx bxs-user-rectangle pr-2 is-align-self-center'></i> Clientes</a></li>
        <li><a class="is-flex is-justify-content-flex-start " [routerLink]="['/productos']"> <i class='bx bx-credit-card pr-2 is-align-self-center'></i> Ventas</a></li>
      </ul>

    </aside>
  </div>
  <div class="column">
    <div class="content pl-3 pr-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


